.pop-up-box{
    border:1px solid #b61118;
    width: 83%;
    margin:0px auto 30px auto;
    border-radius: 3px;
    
}
.left-space{
    background:#b61118;
}
.pop-up{
    padding-top:10px;
    padding-bottom:10px;
    color: #b61118;
    margin-left:20px;
    font-size:12px;
    font-weight:bold;
    list-style: none;    
}