#settings-trigger { 
    background: #ea533f;
}

.btn-tech {
    background: inherit;
    color:inherit;
    padding: .75em .1.55em;
}

.btn-custom {
    color:#58d8a3;
    font-weight: bold;;
    background-color: #fff;
    outline: 2px solid #58d8a3;
    border:2px solid #58d8a3;
    transition: outline-offset 500ms;
}

.text-custom {
    color: #ea533f;
}

.text-custom:hover, .text-custom:focus {
    color: #ea533f;
}

.btn-custom {
    background-color: #ea533f;
    border:#ea533f;
}

.btn-custom:hover, .btn-custom:focus {
    background-color: #EE7565;
}

.sidebar .nav .nav-item.active > .nav-link i,
.sidebar .nav .nav-item.active > .nav-link .menu-title,
.sidebar .nav .nav-item.active > .nav-link .menu-arrow {
    color: #ea533f;
}

.techics-navbar-light .techics-navbar-nav .show > .nav-link,
.techics-navbar-light .techics-navbar-nav .active > .nav-link,
.techics-navbar-light .techics-navbar-nav .nav-link.show,
.techics-navbar-light .techics-navbar-nav .nav-link.active {
    font-weight: bold;
    color: #ea533f;
}

.badge-outline-custom {
    color: #ea533f;
    border: 1px solid #ea533f;
}

.sidebar .nav:not(.sub-menu) > .nav-item:hover > .nav-link {
    background: transparent;
    color: #ea533f;
}
.sidebar .nav.sub-menu .nav-item .nav-link.active {
    color: #ea533f;
    background: transparent;
}

.sidebar .nav.sub-menu .nav-item .nav-link:hover {
    color: #ea533f;
}

.table-hover tbody tr:hover {
    color: #212529;
    background-color: #F6BAB2;
}

th { 
    background:#F6BAB2; 
}

.settings-panel .nav-tabs .nav-item .nav-link.active {
    color: #ea533f;
}

.form-check .form-check-label input[type="checkbox"] + .input-helper:before {
    border: solid #ea533f;
}

.form-check .form-check-label input[type="checkbox"]:checked + .input-helper:before {
    background: #ea533f;
    border-width: 0;
}

.list-wrapper .completed .remove {
    color: #ea533f !important;
}